<footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    ©<%-new Date().getFullYear()%> Copyright:
    <a class="text-dark" href="google.com">OTDBMS</a>
    <p>Made with &lt;3 by <a href="github.com/saltx">Saahil</a></p>
  </div>
</footer>
