<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("./partials/imports.ejs") %>
    <title>OTDBMS | programs</title>
  </head>
  <body>
    <%- include("./partials/nav.ejs") %>
    <h1>Programs</h1>
    <div class="table-responsive">
      <div class="table table-bordered table-hover">
        <thead class="thead-light"></thead>
      </div>
    </div>
  </body>
</html>
