* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

table,
th,
td {
  border: 1px solid #000000;
  border-collapse: collapse;
}

.error {
  color: red;
  background-color: coral;
  border: 1px solid red;
  padding: 5px;
  margin: 0.5em;
}
